[Unit]
Description=RoomEQ REST API
After=network.target

[Service]
ExecStart=/usr/bin/roomeq-server
Restart=always
User=roomeq
Group=roomeq
WorkingDirectory=/var/lib/roomeq
Environment=HOME=/var/lib/roomeq

[Install]
WantedBy=multi-user.target
